{{#partial "title"}}{{uri}}{{/partial}}

<style type="text/css">

  html, body {
    margin: 0;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
  }

  .wrapper {
    padding-bottom: 40px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    background: -webkit-linear-gradient(top, #E9E9E9 0%, #F2F2F2 10%, #F2F2F2 90%, #E9E9E9 100%);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
  }

  li a {
    display: block;
    height: 80px;
    text-decoration: none;
  }

  li h2 {
    color: #404041;
    height: 80px;
    line-height: 80px;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0 30px;
    font-size: 2em;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .image h2 {
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
  }

  .footer {
    width: 100%;
    padding: 0 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #D2D2D2;
    -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px rgba(0,0,0,0.2);

    border-top: 1px solid #888888;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }

  .footer .option {
    display: inline-block;
    height: 60px;
    width: 33.33%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    background: #484A4F;
    background: -webkit-linear-gradient(top, #585A61, #45474B);
    background: -moz-linear-gradient(top, #585A61, #45474B);
    background: -o-linear-gradient(top, #585A61, #45474B);
    background: -ms-linear-gradient(top, #585A61, #45474B);
    background: linear-gradient(top, #585A61, #45474B);
  }

  #search {
    border-left: none;
  }

  .footer .option.selected {
    background: #D2D2D2;
    color: #404040;
    text-shadow: none;
    border-top: none;
  }

  .footer h4 {
    margin: 0;
    line-height: 60px;
  }

  .footer a {
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: block;
  }

  .search, .sort {
    height: 0;
    overflow: hidden;
    background: #D2D2D2;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
  }

  .search {
    text-align: center;
  }

  .search form {
    margin-top: 17px;
  }

  .search input {
    width: 70%;
  }

  .sort {
    text-align: center;
  }

  .sort-option {
    display: inline-block;
    width: 20%;
    margin: 10px 5%;
    background: #FFFFFF;
    background: -webkit-linear-gradient(#FFFFFF, #D6D6D6);
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
  }

  .sort-option.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

</style>

{{#partial "content"}}

{{> libraries}}

<script>
  var json = "{{{json}}}";

  // console.log(json);

  var currentUrl = "{{{uri}}}",
      links,
      $linklist,
      i, len,
      updateList,
      updatecount;

  // updateCount = function() {

  //   var target = $(this).attr('href');

  //   console.log('clicked it');

  //   $.ajax({
  //     dataType: 'json',
  //     type: 'POST',
  //     url: '/' + currentUrl,
  //     data: { target: target },
  //     success: function(result) {
  //       console.log(result);
  //     }
  //   });

  //   return false;
  // };

  updateList = function(list) {
    var link,
        $li, $a, $h2;

    $linklist.empty();

    for (i = 0, len = list.length; i < len; i++) {
      link = list[i];

      $h2 = $('<h2>').html(link.text);
      $a = $('<a>')
        .attr('href', link.href)
        .append($h2)
        .click(function(event) {
          var target = $(this).attr('href').substring(1);
          event.preventDefault();

          $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/' + currentUrl,
            data: { target: target },
            success: function(result) {
              console.log(result);
              window.location = '/' + target;
            },
            error: function(jqXhr, status, error) {
              // console.log(status);
              // console.log(error);
            }
          });
        });

      $li = $('<li>').append($a);

      if (link.src) {
        $li
          .addClass('image')
          .css({
            'background-image': "url('" + link.src + "')"
          });
      }

      $linklist.append($li);
    }
  }

  $(function() {
    $linklist = $('#links');
    links = JSON.parse(json);

    $('#search-form').submit(function(event) {
      event.preventDefault();

      // var query = $(this).find('input[name=query]').val().trim();

      // if (query) {
      //   console.log(query);

      //   var list = fuzzy.filter(query, links, {
      //     extract: function(el) {
      //       return el.text;
      //     }
      //   });

      //   console.log(list);
      // }
    });

    $('#query').keyup(function(event) {
      var query = $(this).val();

      console.log(query);

      var list = fuzzy.filter(query, links, {
        extract: function(el) {
          return el.text;
        }
      });

      list = list.map(function(el) { return el.original; });

      console.log(list);

      updateList(list);
    });

    updateList(links);

    console.log(currentUrl);
  });
</script>

<!-- <li #if srcclass="image" style="background-image: url('{{src}}');"/if>
      <a href="{{href}}">
        <h2>text</h2>
      </a>
    </li> -->

<div class="wrapper">
  <ul id="links"></ul>
</div>

<script>

var toggleOptions = function(eName) {
  $('.search, .sort').height(0);
  var $element = $('#' + eName);

  if($element.hasClass('selected')) {
    $('.' + eName).height(0);
  } else {
    $('#search, #sort').removeClass('selected');
    $('.' + eName).height(60);
  }
  $element.toggleClass('selected');
};

$(function() {

  $('#search').click(function() {
    toggleOptions('search');
  });
  $('#sort').click(function() {
    toggleOptions('sort');
  });

});

</script>

<div class="footer">
  <div class="search">
    <form id="search-form">
      <input type="text" id="query" name="query" placeholder="Search links">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="sort">
    <div class="sort-option">ABC</div>
    <div class="sort-option">ZYX</div>
    <div class="sort-option selected">None</div>
  </div>

  <div class="option" id="search">
    <h4>Search</h4>
  </div><div class="option" id="sort">
    <h4>Sort</h4>
  </div><div class="option">
    <a href="{{uri}}" target="_blank"><h4>View Page</h4></a>
  </div>
</div>

{{/partial}}

{{> base}}
