{{#partial "content"}}

  <a href="{{uri}}" target="_blank">View Current Page</a>
  {{#each links}}
    <li><a href="{{href}}?prev={{../uri}}">
      {{#if src}}
        <img src="{{src}}">
      {{else}}
        {{text}}
      {{/if}}
    </a></li>
  {{/each}}

{{/partial}}

{{> base}}
