{{#partial "title"}}{{uri}}{{/partial}}

<style type="text/css">

  html, body {
    margin: 0;
    overflow-x: hidden;
  }

  body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
  }

  .wrapper {
    padding-bottom: 40px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    background: -webkit-linear-gradient(top, #E9E9E9 0%, #F2F2F2 10%, #F2F2F2 90%, #E9E9E9 100%);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
  }

  li a {
    display: block;
    height: 80px;
    text-decoration: none;
  }

  li h2 {
    color: #404041;
    height: 80px;
    line-height: 80px;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0 30px;
    font-size: 2em;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .image h2 {
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
  }

  .footer {
    width: 100%;
    height: 40px;
    padding: 0 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #484A4F;
    -webkit-box-shadow: 0 -2px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 -2px 3px rgba(0,0,0,0.1);
    box-shadow: 0 -2px 3px rgba(0,0,0,0.1);
  }

  .option {
    display: inline-block;
    height: 40px;
    width: 33.33%;
    padding-top: 8px;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
  }

  .option.selected {
    background: #E2E2E2;
    color: #404040;
  }

  .footer a {
    text-decoration: none;
    color: #FFFFFF;
  }

</style>

{{#partial "content"}}

{{> libraries}}

<script>
  var json = "{{{json}}}",
      currentUrl = "{{{uri}}}",
      links = JSON.parse(json),
      $linklist,
      i, len,
      updateList,
      updatecount;

  updateCount = function() {
    var target = $(this).attr('href');

    // $.ajax({
    //   dataType: 'json',
    //   type: 'GET',
    //   url: '/' + currentUrl,
    //   data: { target: target },
    //   success: function(result) {
    //     console.log(result);
    //   }
    // });
  };

  updateList = function(list) {
    var link,
        $li, $a, $h2;

    for (i = 0, len = list.length; i < len; i++) {
      console.log('here');
      link = list[i];

      $h2 = $('<h2>').html(link.text);
      $a = $('<a>')
        .attr('href', link.href)
        .append($h2)
        .click(updateCount);
      $li = $('<li>').append($a);

      if (link.src) {
        $li
          .addClass('image')
          .css({
            'background-image': "url('" + link.src + "')"
          });
      }

      $linklist.append($li);
    }
  }

  $(function() {
    $linklist = $('#links');

    updateList(links);

    console.log(currentUrl);
  });
</script>

<!-- <li #if srcclass="image" style="background-image: url('{{src}}');"/if>
      <a href="{{href}}">
        <h2>text</h2>
      </a>
    </li> -->

<div class="wrapper">
  <ul id="links">

  </ul>
</div>

<script>
console.log('loaded')
$('.option').click(function() {
  this.toggleClass('selected');
  console.log("clicked")
});
</script>

<div class="footer">
  <!-- <form class="search">
    <input type="text" name="q" placeholder="Search links">
    <button type="submit">Search</button>
  </form>

  <a href="{{uri}}" target="_blank">More</a> -->
  <div class="option selected" id="search">Search
  </div><div class="option" id="sort">Sort
  </div><div class="option"><a href="{{uri}}" target="_blank">Current</a></div>
</div>

{{/partial}}

{{> base}}
