{{#partial "title"}}{{uri}}{{/partial}}

<style type="text/css">

  html, body {
    margin: 0;
  }

  body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
  }

  .wrapper {
    padding-bottom: 80px;
    box-sizing: border-box;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
    border-bottom: 1px solid #CCCCCC;
  }

  li a {
    display: block;
    height: 80px;
    text-decoration: none;
    color: #222222;
  }

  li img {
    height: 80px;
  }

  .footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -80px;
    clear: both;
    background: black;
  }

</style>

{{#partial "content"}}

<script>
  var json = "{{{json}}}";
  console.log(json);
</script>

<div class="wrapper">
  <div class="main">

    <form class="search">
      <input type="text" name="q" placeholder="Type a keyword here" value="{{query}}">
      <button type="submit">Go!</button>
    </form>

    <a href="{{uri}}" target="_blank">View Current Page</a>
    <ul>
    {{#each links}}
      <li><a href="{{href}}" style="background: url('{{src}}');">
        {{#if src}}
        {{/if}}
        {{{text}}}
      </a></li>
    {{/each}}
    </ul>

  </div>
</div>

<div class="footer"></div>

{{/partial}}

{{> base}}
